.application {
  display: flex;
  height: 100vh;

  .navigation {
    flex-direction: column;
    overflow: auto;
    padding: 20px 30px 10px 10px;
    background: #fafafa;
    border-right: 1px solid rgba(0, 0, 0, .07);
    height: 100vh;
    position: fixed;
    width: 15%;

    a {
      display: block;
      margin: 20px;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    margin-left: 15%;
    background-color: #e7ecf2;
    height: fit-content;
    padding: 50px;

    .task-container {

    }
  }
}